/*!
 * Start Bootstrap - Modern Business HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

html,
body {
    height: 100%;
}

body {
    padding-top: 0px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

*:focus {
    outline: 0;
    outline: none;
}


.googleMap {
    width: 100%;
    position: absolute;
    top: 70px;
    bottom: 0;
}
/*#info {*/
/*    display: none;*/
/*}*/


.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}
h3 {font-weight:normal; padding:10px 14px; margin:0; font-size:18px; color:#000000; line-height:18px; font-weight:bold; display:block;}
/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}
.container {width:100%!important; padding:0; margin:0; float:left;}
/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}

/*.topbar {height:auto; background:#7addf6;  background-repeat:no-repeat; background-position:bottom left; width:100%; float:left;}*/
.topbar {
    /*background: url(/greenhopping/public/img/gh.png) no-repeat 30px bottom #7addf6;
	background-size: auto 90%;*/
	/*background:url("/greenhopping/public/img/top.png");
    background-repeat:no-repeat;*/
    background-color: #58D5F0;
    height: 69px;
    position: relative;
    z-index: 1;
}


.menu-divider{
	border-left: 1px solid #f0f0f0;
}

.top-right {margin:20px 0 0 0; color:#FFFFFF;}
.top-right a {color:#FFFFFF; padding:15px;/*float:left;*/}
.top-right a:hover {text-decoration:none!important; cursor:pointer;}
.top-right b {float:right; color:#666666;}
/*.select {margin:5px 0 0 0; background:#FFFFFF; padding:0; width:100%; float:left; border:1px #68c4da solid; border-radius:5px;}*/
.select {margin:11px 0 0 0; background:#FFFFFF; padding:0; width:100%; float:left; 
/*border:1px #68c4da solid; */ border-radius:5px;}
.select-top {width:200px; height:40px; background:#FFFFFF; margin:0; padding:0;  border:none;-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; background:url(../images/arrow-down.jpg) no-repeat right;}
.search-top {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 9px 0 6px 38px;
    border: none;
    background: url(../images/search.png) no-repeat -2px center;
    background-size: auto 80%;
    font-size: 12px;
    line-height: 24px;
}
.search-top::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d4d4d4;
}
.search-top::-moz-placeholder { /* Firefox 19+ */
  color: #d4d4d4;
}
.search-top:-ms-input-placeholder { /* IE 10+ */
  color: #d4d4d4;
}
.search-top:-moz-placeholder { /* Firefox 18- */
  color: #d4d4d4;
}

.mapHolder {
    height: 100%;
    margint-top: 67px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.mainbox {padding:0;}
.halfbox {width:50%; padding:0; margin:0; float:left; clear:right;}
.halfbox-right {width:50%; padding:10px 0; margin:0; float:left; }
.halfbox-right span {color:#797979;}
.map {width:100%;}
.vegan {border:1px #CCCCCC solid;  }
.vegan select {border:none; height:25px; width:80%; color:#666666;}
.list {width:100%; float:left; padding:5px 0; border-bottom:1px #CCCCCC solid;}

.list img {float:left; padding:0 5px 0 0;}
.list h2 {font-weight:bold; padding:10px 0 5px 0; margin:0; font-size:12px;}
.list h3 {font-weight:normal; padding:10px; margin:0; font-size:12px; color:#969696; line-height:18px;}
.banner {width:100%; float:left; padding:0; margin:0;}
.banner-img {width:100%;}
.profile {position:absolute; bottom:0; padding:10px; left:0; color:#FFFFFF; width:100%;background-color:rgba(0,0,0,.5);

background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}
.profile-img {float:left; margin:10px 10px 0px 10px; border-radius:7px; clear:right;}
.profile h2 {color:#FFFFFF; font-size:18px; font-weight:bold; margin:0; padding:10px 0 0 0;}
.profile b {font-weight:normal; padding:5px; border:1px solid; border-radius:6px; margin:0 10px 0 0;}
.profile strong {font-weight:bold; margin-right:5px; }
.profile span { color:#53a213; font-size:12px;}
.profile-right {position:absolute;  right:10px; bottom:10px; color:#FFFFFF;}
.profile-right div {width:100%; float:left;}
.profile-right div span {text-align:right; float:right; padding:0 20px 0 0;}
.profile-right img {float:right; text-align:right;}
.store {width:100%; float:left; } 
.store h2 {display:block; padding:0 20px;}
ul.category {line-height:30px; margin:0 0 0 0 ; padding:0 0 0 10px; font-size:16px;display:block; border-right:1px #CCCCCC solid;}
.category  li {list-style:none; padding:5px 0; margin-right:-5px;}
.category  li a { color:#5c5b5b;  text-decoration:none; display:block;}
.category  li a:hover {color:#53a213; background:url(../images/arroow-right.png) no-repeat right;  }
.mid-list {border-bottom:1px #e1e1e1 solid; padding:5px 0; width:100%; color:#3f3f3f;float:left;}
.mid-list p {padding:5px 0 0 0;  float:left; }
.mid-list b {font-weight:bold; float:right; text-align:left; width:20%;}
.mid-list b span {float:right; color:#CCCCCC; padding:0 5px;}
.mid-list b strong {color:#000000;}
.mid-list b a {color:#53a213;}
.mid-list img {float:left; padding:0 10px 0 0 ; }

.navbar {position:absolute; top:0; z-index:9999999; }
#login-dp {margin-top:10px;}
.modal-content {background:#FFFFFF; width:25%; float:right; right:15px; position:absolute; top:25px; border-radius:0px!important;}
.tab-content {color:#000000;}
.btn {background:none;}
.nav li a {color:#999999; }
.nav li a:hover {background:none;}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {background:none; color:#000000;}
.tab-content {padding:20px 35px; float:left;}
.nav-pills>li {width:49%; }     .nav-pills>li {width:49%; border-bottom:2px #CCCCCC solid; text-align:center; margin-bottom:10px;}
.nav-pills>li a {display:block;}        .nav-pills>li a {display:block; text-align:center; width:100%; padding:15px 0;}
.sign-tab {width:100%; height:30px; border:none; border-bottom:1px #CCCCCC solid;}      .nav-pills>li:hover {border-bottom:2px #42830f solid;}
.nav-pills>li.active {border-bottom:2px #42830f solid;}
.sign-tab {width:100%; height:30px; border:none; border-bottom:1px #CCCCCC solid; color:#000000;}

.nav-pills>li {width:49%; border-bottom:2px #CCCCCC solid; text-align:center; margin-bottom:10px;}
.nav-pills>li a {display:block; text-align:center; width:100%; padding:15px 0;}
.nav-pills>li:hover {border-bottom:2px #42830f solid;}
.nav-pills>li.active {border-bottom:2px #42830f solid;}
.sign-tab {width:100%; height:30px; border:none; border-bottom:1px #CCCCCC solid; color:#000000;}
.sign {background:#42830f; float:left; padding:5px 10px; border:none; border-radius:5px; color:#FFFFFF; margin:10px 0 0 0; font-size:12px;}
.modal-dialog { width:auto;}
.connect {padding:5px 10px;}
.user {float:left; padding-top:10px;}
.user b {font-size:12px; color:#000000; display:block; padding:5px 0; border-bottom:1px #CCCCCC solid; }
.user b:hover {background:url(../images/arroow-right.png) no-repeat right;}
.user span {font-size:12px; color:#999999; display:block; padding:5px 0;}
.user-img {width:100%; border-radius:50%;}
.user-img1 {width:80%; border-radius:50%; padding:0 10%;}
.user-btn {padding:5px 15px; text-align:center; color:#53a213; margin:10px 0; border:1px #b5b5b5 solid; background:#FFFFFF;font-size: 11px; margin-right: 15px;}
.user-btn:last-child{margin-right: 0;}
.user-btn a {color:#53a213; text-decoration:none;}
.user-btn a:hover {color:#999999;}
.user-btn a.active {color:#999999;}
.user h4 {text-align:center; padding-right:50px;}

.user strong {font-size:14px; color:#000000; display:block; padding:3px 0; margin:0;  }
.user strong em {color:#53a213; font-weight:normal; font-style:normal; }
.user p {font-size:12px; color:#999999; display:block; padding:2px 0; margin:0;}
.user hr {display:block; background:#CCCCCC; border-bottom:1px #CCCCCC solid; margin:5px 0; padding:0;}
ul.user-list {padding:10px 0; margin:0;}
ul.user-list li {line-height:40px; list-style:none;position: relative }
ul.user-list li.active:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 8px;
    border-color: transparent transparent transparent #f9f9f9;
    right: -23px;
    top: 50%;
    margin: -8px 0 0;
}
ul.user-list li a {color:#333333; padding:10px 0;}
ul.user-list li a:hover { color:#51a215; text-decoration:none;}
ul.user-list li a.active { color:#51a215; text-decoration:none;}
.new-address { padding-top:20px;}
.new-address b {
    font-size: 10px;
    border: none!important;
    color: #6D6D6D;
    padding: 0;
    display: inline-block;
}
.new-address b:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 0 4px 4px;
    border-color: transparent transparent transparent #BABABA;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.new-address h6 span {
    font-size: 9px;
    color: #ccc;
}
.new-address form {
    margin-top: 10px;
}
.new-address form span,
.new-address form .in {
    font-size: 11px;
}
.new-address form label.error {
    color: #E88787;
    font-weight: normal;
    font-size: 9px;
    float: right;
}
.new-address span {color:#999999;}
.new-address p {display:block; font-size:14px; border-bottom:1px #CCCCCC solid; padding:10px 0;}
.new-address b:hover {background:none;}
.closebtn {float:right;}
.pay-box {width:100%; height:30px; border:1px #37b645 solid; margin:5px 0;}
.pay-box1 {width:30%; height:30px; border:1px #37b645 solid; margin:5px 5% 5px 0;}
.pay-box2 {width:28%; height:30px; border:1px #37b645 solid; margin:5px 0; float:right;}

/*.top-right a img {border-right:1px #FFFFFF solid; padding:3px  10px;   }*/

.top-link {border-right:1px #FFFFFF solid; padding:10px;  margin-right:20px;  }
.tick {float:right;}
.arw {position:absolute; right:20px; top:-20px;}
/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
    .halfbox {width:100%; padding:0; margin:0; float:left; clear:right;}
.halfbox-right {width:100%; padding:10px 0; margin:0; float:left; }
.top-right {padding:0 5%; float:right; width:90%; }
.vegan select {border:none; height:25px; width:90%; color:#666666;}
.list div {padding:2px 5px;}

}
@media(max-width:600px) {
.topbar {background-image:none;}
.select-top {width:80%; }
.search-top {width:100%;}
.profile {position:relative; width:100%; color:#000000;}

.profile-right {position:relative; width:100%;}
.profile p {width:100%; float:left; }
.profile h2 {width:100%; float:left; color:#000000;}
.profile strong {width:100%; float:left;}
.profile b {width:50%; float:left; border:1px #666666 solid;}
.profile span {width:100%; float:left;}
.profile-right div {width:80%; float:left; padding:0 10%;}
.profile-right img {float:left; text-align:left; }
.modal-content {background:#FFFFFF; width:80%; float:right; right:10%; position:absolute; top:25px;}
}

.modal-backdrop{
	z-index: 0 !important;
}
.yellow{
	color: #FFD104;
}

.searchtable{
	font-size:11px;
}

.semibold{
	font-weight:bold;
}

.np{
	padding:0px !important;
}

.nav-tabs .active a {
	border-left-width: 0px !important;
    border-right-width: 0px !important;
    border-top-width: 0px !important;
    border-color: #72AD51 !important;
    border-bottom-width: 2px !important;
    background-color: transparent !important;
}
.nav-justified .active a,
.green{
	color: #72AD51 !important;
}

.pt10{
	padding-top:10px;
}
.pt0{
	padding-top:0px !important;
}
.pl0{
	padding-left:0px !important;
}
.pb20{
	padding-bottom: 20px !important;
}
.pb10{
	padding-bottom: 10px !important;
}

.pt10{
	padding-top:10px !important;
}

.pl20{
	padding-left:20px;
}

.pr20{
	padding-right:20px;
}


.pr10{
	padding-right: 10px;
}

.pr15{
	padding-right: 15px;
}

.mt5{
	margin-top:5px;
}

.ml20{
	margin-left: 20px;
}

.mr20{
	margin-right:20px;
}


.ml10{
	margin-left: 10px;
}

.mr10{
	margin-right:10px;
}



.pl10{
	padding-left: 10px;
}

.pa5{
	padding: 5px;
}

.pa10{
	padding:10px;
}

.pa15{
	padding:15px;
}

.fs24{
	font-size:24px;
}


.fs16{
	font-size:16px;
}


.fs12{
	font-size:12px;
}


.fs11{
	font-size:11px;
}

.fs10{
	font-size:10px;
}

.mtonly10{
	margin: 4px 0px 0px 0px;
}

.ml70{
	margin-left:70px;
}

.nb{
	border:0px !important;
}

.lightwhite{
	color: #D3D2CE;
}

.darkgreen{
	color:#4A7510;
}
.middle td{
	vertical-align: middle !important;
}

.bottomborder td{
	border-top:0px !important;
	border-bottom: 1px solid #ddd !important;
}

.catmenu .active span{
	color: #72AD51 !important;
}


.leftsidebar{
	min-height: 600px;
	border-right:1px solid #ddd;
}

.img-circle{
	border-radius:50%;
}

.pointer{
	cursor: pointer;
}

@media (max-width: 400px) { .what { display: none; } }
.nostyle{
	list-style:none;
}



.fruititem {
	border-top: 1px solid #ddd;
}

.profilebutton button{
	border:0px !important;
}

.profilebutton button:hover,
.profilebutton button:active,
.profilebutton button:focus,
.btn-group.open .dropdown-toggle
{
	border:0px !important;
	background-color: transparent !important;
	box-shadow: none !important;
}

.profilebutton .dropdown-toggle{
	margin-left:-15px !important;
	margin-top:15px !important;
}

.dropdown-menu{
	background-color: #E3E3E3 !important;
}
