/*!
 * Start Bootstrap - Modern Business HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

html,
body {
    height: 100%;
}

body {
    padding-top: 0px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}
h3 {font-weight:normal; padding:10px 14px; margin:0; font-size:18px; color:#000000; line-height:18px; font-weight:bold; display:block;}
/* Home Page Carousel */

header.carousel {
    height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}
.container {width:100%!important; padding:0; margin:0; float:left;}
/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}

/* Footer Styles */

footer {
    margin: 50px 0;
}
.topbar {height:auto; background:#7addf6; background-image:url(../images/top-bg.png); background-repeat:no-repeat; background-position:bottom left; width:100%; float:left;}
.top-right {margin:20px 0 0 0; color:#FFFFFF;}
.top-right a {color:#FFFFFF; float:left;}
.top-right a:hover {text-decoration:none!important; cursor:pointer;}
.top-right b {float:right; color:#666666;}
.select {margin:5px 0 0 0; background:#FFFFFF; padding:0; width:100%; float:left; border:1px #68c4da solid; border-radius:5px;}
.select-top {width:20%; height:45px; background:#FFFFFF; margin:0; padding:0;  border:none;}
.search-top {width:70%; height:45px; background:#FFFFFF; margin:0; padding:0;  border:none; background:url(../images/search.png) no-repeat left; padding-left:50px;}


.mainbox {padding:0;}
.halfbox {width:50%; padding:0; margin:0; float:left; clear:right;}
.halfbox-right {width:50%; padding:10px 0; margin:0; float:left; }
.halfbox-right span {color:#797979;}
.map {width:100%;}
.vegan {border:1px #CCCCCC solid;  }
.vegan select {border:none; height:25px; width:80%; color:#666666;}
.list {width:100%; float:left; padding:5px 0; border-bottom:1px #CCCCCC solid;}

.list img {float:left; padding:0 5px 0 0;}
.list h2 {font-weight:bold; padding:10px 0 5px 0; margin:0; font-size:12px;}
.list h3 {font-weight:normal; padding:10px; margin:0; font-size:12px; color:#969696; line-height:18px;}
.banner {width:100%; float:left; padding:0; margin:0;}
.banner-img {width:100%;}
.profile {position:absolute; z-index:10000; bottom:10px; padding:10px; left:20px; color:#FFFFFF; width:40%;}
.profile-img {float:left; margin:10px; border-radius:7px; clear:right;}
.profile h2 {color:#FFFFFF; font-size:18px; font-weight:bold; margin:0; padding:10px 0 0 0;}
.profile b {font-size:11px; font-weight:normal; padding:10px; border:1px #FFFFFF solid; border-radius:6px; margin:0 10px 0 0;}
.profile strong {font-size:16px; font-weight:bold; margin-right:5px; }
.profile span { color:#53a213; font-size:12px;}
.profile-right {position:absolute; z-index:10000; right:10px; bottom:10px; color:#FFFFFF;}
.profile-right div {width:100%; float:left;}
.profile-right div span {text-align:right; float:right; padding:0 20px 0 0;}
.profile-right img {float:right; text-align:right;}
.store {width:100%; float:left; } 
.store h2 {display:block; padding:0 20px;}
ul.category {line-height:30px; margin:0 0 0 0 ; padding:0 0 0 10px; font-size:16px;display:block; border-right:1px #CCCCCC solid;}
.category  li {list-style:none; padding:5px 0;}
.category  li a { color:#5c5b5b;  text-decoration:none; display:block;}
.category  li a:hover {color:#53a213; background:url(../images/arroow-right.png) no-repeat right;  }
.mid-list {border-bottom:1px #e1e1e1 solid; padding:5px 0; width:100%; color:#3f3f3f;float:left;}
.mid-list p {padding:5px 0 0 0;  float:left; }
.mid-list b {font-weight:bold; float:right; text-align:left; width:20%;}
.mid-list b span {float:right; color:#CCCCCC; padding:0 5px;}
.mid-list b strong {color:#000000;}
.mid-list b a {color:#53a213;}
.mid-list img {float:left; padding:0 10px 0 0 ; }

.navbar {position:absolute; top:0; z-index:9999999; }
#login-dp {margin-top:10px;}
.modal-content {background:#FFFFFF; width:25%; float:right; right:10%; position:absolute; top:25px;}
.tab-content {color:#000000;}
.btn {background:none;}
.nav li a {color:#999999; }
.nav li a:hover {background:none;}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {background:none; color:#000000;}
.tab-content {padding:20px; float:left;}
.nav-pills>li {width:49%; }
.nav-pills>li a {display:block;}
.sign-tab {width:100%; height:30px; border:none; border-bottom:1px #CCCCCC solid;}
.sign {background:#42830f; float:left; padding:5px 10px; border:none; border-radius:5px; color:#FFFFFF; margin:10px 0 0 0; font-size:12px;}
.modal-dialog { width:auto;}
.connect {padding:5px 10px;}
.user {float:left; padding-top:10px;}
.user b {font-size:12px; color:#000000; display:block; padding:5px 0; border-bottom:1px #CCCCCC solid; }
.user b:hover {background:url(../images/arroow-right.png) no-repeat right;}
.user span {font-size:12px; color:#999999; display:block; padding:5px 0;}
.user-img {width:100%; border-radius:50%;}
.user-btn {padding:5px 15px; text-align:center; color:#53a213; margin:10px 0; border:1px #b5b5b5 solid; background:#FFFFFF;}

.user strong {font-size:14px; color:#000000; display:block; padding:3px 0; margin:0;  }
.user strong em {color:#53a213; font-weight:normal; font-style:normal; }
.user p {font-size:12px; color:#999999; display:block; padding:2px 0; margin:0;}
.user hr {display:block; background:#CCCCCC; border-bottom:1px #CCCCCC solid; margin:5px 0; padding:0;}
.new-address {width:100%; float:left; padding-top:20px;}
.new-address b {font-size:12px;}
.new-address span {color:#999999;}
.new-address p {display:block; font-size:14px; border-bottom:1px #CCCCCC solid; padding:10px 0;}
.new-address b:hover {background:none;}
.closebtn {float:right;}


/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
	.halfbox {width:100%; padding:0; margin:0; float:left; clear:right;}
.halfbox-right {width:100%; padding:10px 0; margin:0; float:left; }
.top-right {padding:0 5%; float:right; width:90%; }
.vegan select {border:none; height:25px; width:90%; color:#666666;}
.list div {padding:2px 5px;}

}
@media(max-width:600px) {
.topbar {background-image:none;}
.select-top {width:80%; }
.search-top {width:100%;}
.profile {position:relative; width:100%; color:#000000;}

.profile-right {position:relative; width:100%;}
.profile p {width:100%; float:left; }
.profile h2 {width:100%; float:left; color:#000000;}
.profile strong {width:100%; float:left;}
.profile b {width:50%; float:left; border:1px #666666 solid;}
.profile span {width:100%; float:left;}
.profile-right div {width:80%; float:left; padding:0 10%;}
.profile-right img {float:left; text-align:left; }
.modal-content {background:#FFFFFF; width:80%; float:right; right:10%; position:absolute; top:25px;}
}