/*** Map container ***/
.halfMap,.halfPage {
    
}
.halfPage {
    position: absolute;
    top: 70px;
    right: 0;
    bottom: 0;
    max-width: 50%;
    min-width: 50%;
    background: #fff;
}
.profileBasic {
    background: #F9F9F9;
    height: 100%;
}
.profile-img-container {
  overflow: hidden;
  height: 130px;
  width: 130px;
  position: relative;
  font-size: 3px;
  margin: 10px auto;
  border-radius: 50%;
  /*-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFW…9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);*/
}
.profile-img-container span {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  background-size: cover;
  left: 0;
}
input[type="file"] {
  opacity:0;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.user-img-css {
  height:100px;
  width:100px;
}

.in {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #CCC;
    width: 90%;    
}

.profileForm {
    
}
.profileForm label {
    color: #BDBDBD;
    font-size: 10px;
    margin-bottom: 3px;
}
.profileForm [type=text],
.profileForm [type=password],
.profileForm select {
    color: #797979;
    font-size: 12px;
    height: 20px;
}
.opens {
    display: none;
}

.selected {
    float: left;
    margin-top: 1em;
    margin-right: 1em;
    position: relative;
    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    
    -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}
 .regular {
    float: left;
    margin-top: 1em;
    margin-right: 1em;
    position: relative;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/*** Asfath Code ***/
.profileName {
    font-size: 22px;
}
.profileDetails {
    padding: 20px 0;
}
.profileDetails h6 {
    font-size: 10px;
    color: #666;
    margin: 0;
}
.profileAddress {
    margin: 5px 0;
    padding: 0 0 5px;
}
.profileAddress h5 {
    font-size: 11px;
    font-weight: bold;
    color: #555;
    margin: 0;
}
.profileAddress h5 span {
    font-size: 11px;
    display: inline-block;
    color: green;
    cursor: pointer;
}
.profileAddress h5 i {
    background: url(/greenhopping/public/static/tick.png) left center no-repeat;
    background-size: contain;
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
}
.profileAddress p {
    color: #838383;
    font-size: 10px;
}

/*** Add card ***/
.addCard {
    text-align: center;
}
.addCard input,
.addCard select,
.addCard textarea {
    text-align: center;
}
#userPersonalArea {
    text-align: center;
}
#userPersonalArea span {
    width: 70px;
    height: 70px;
    background-size: cover;
    margin: 11px;
    float: none;
    display: inline-block;
}

#userPersonalArea span.selected {
    box-shadow: 0 0 0 3px rgb(73, 187, 214);
}